invoice.xsd.orig

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="Invoice">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Header">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="InvoiceNumber" type="xs:string"/>
                            <xs:element name="Date" type="xs:date"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="Customer">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Name" type="xs:string"/>
                            <xs:element name="Address" type="xs:string"/>
                            <xs:element name="Phone" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="Items">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Description" type="xs:string"/>
                            <xs:element name="Quantity" type="xs:integer"/>
                            <xs:element name="Price" type="xs:decimal"/>
                            <xs:element name="VAT">
                                <xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                        <xs:minInclusive value="0.00"/>
                                        <xs:maxInclusive value="100.00"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="Discount" type="xs:decimal"/>
                            <xs:element name="Total" type="xs:decimal"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="TotalAmountPerYear">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:decimal">
                                <xs:attribute name="currency" type="xs:string" use="required"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>

                <xs:element name="InvoiceExtraDetails">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="IssueDate" type="xs:date"/>
                            <xs:element name="DueDate" type="xs:date"/>
                            <xs:element name="IdStore" type="xs:integer"/>
                            <xs:element name="CodeMonth" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>